<button type="@Type.ToString().ToLower()"
    class="@ButtonClass"
    disabled="@Disabled"
    @onclick="HandleClick"
    @attributes="AdditionalAttributes">
    @if (!string.IsNullOrWhiteSpace(Icon) && VisualPlacement == Enums.VisualPlacement.Start)
    {
        <Icon SvgIcon="@Icon" Size="@IconSize"/>
    }

    @if (ChildContent is not null)
    {
        <span class="text-center w-full">@ChildContent</span>
    }

    @if (!string.IsNullOrWhiteSpace(Icon) && VisualPlacement == Enums.VisualPlacement.End)
    {
        <Icon SvgIcon="@Icon" Size="@IconSize"/>
    }
</button>
