@using System.Linq.Expressions

<div class="@InputWrapperClass">
    @if (VisualPlacement == Enums.VisualPlacement.Start)
    {
        <span class="absolute left-4 top-1/2 -translate-y-1/2 text-gray-400 @IconClass">
            <Icon SvgIcon="@IconHtml"></Icon>
        </span>
    }

    <input type="@Type.ToString()" 
           id="@Id" 
           placeholder="@PlaceholderValue" 
           class="@InputClass" 
           disabled="@Disabled"
           readonly="@ReadOnly" 
           @bind-value="@Value"
           @oninput="HandleInput"
           aria-invalid="@ValidationMessages.Any()"/>
    
    
    @if (VisualPlacement == Enums.VisualPlacement.End)
    {
        <span class="absolute right-4 top-1/2 -translate-y-1/2 text-gray-400 @IconClass">
            <Icon SvgIcon="@IconHtml"></Icon>
        </span>
    }

    <label for="@Id" class="@LabelClass">@Label</label>
    
    @if (ValidationMessages.Any())
    {
        <p id="@($"{Id}-error")" class="mt-2 text-xs text-red-600 dark:text-red-400">
            @ValidationMessages.FirstOrDefault()
        </p>
    }
    else if (!string.IsNullOrWhiteSpace(HelperText))
    {
        <p id="@($"{Id}-helper-text")" class="mt-2 text-xs text-gray-500 dark:text-gray-400">
            @HelperText
        </p>
    }
</div>

