@using BlazorFlow.Icons
@using Microsoft.AspNetCore.Components.Routing

<li class="mb-1">
    @if (ChildContent is not null)
    {
        <div 
            role="button" 
            aria-expanded="@IsExpanded.ToString().ToLower()"
            aria-label="@Label"
            tabindex="0"
            @onclick="ToggleExpand"
            @onkeydown="HandleKeyDown"
            class="@NavItemClass">
            <div class="@NavItemContentClass">
                @if (!string.IsNullOrWhiteSpace(Icon))
                {
                    <Icon 
                        SvgIcon="@Icon" 
                        Size="Size.Large" 
                        fill="none"/>
                }
                <span class="@NavItemVisibilityClass">@Label</span>
            </div>
            
            <span class="text-gray-600 transition-transform duration-200 @NavItemVisibilityClass @ArrowRotation">
                <Icon 
                    SvgIcon="@Icons.Outlined.ChevronRight" 
                    Size="Size.Large" 
                    fill="none"/>
            </span>
        </div>

        @if (IsExpanded && !IsCollapsed)
        {
            <ul class="ml-6 mt-1 space-y-1 transition-all duration-300" role="group">
                @ChildContent
            </ul>
        }
    }
    else
    {
        <NavLink 
            class="@NavItemClass" 
            href="@Href" 
            Match="@Match" 
            ActiveClass="!text-gray-800 !bg-(--secondary) font-medium" 
            aria-label="@Label" 
            role="link">
            @if (!string.IsNullOrWhiteSpace(Icon))
            {
                <Icon 
                    SvgIcon="@Icon" 
                    Size="Size.Large" 
                    fill="none"/>
            }
            <span class="@NavItemVisibilityClass">@Label</span>
        </NavLink>
    }
</li>

