<button type="@Type.ToString().ToLower()"
    class="@ButtonClass"
    disabled="@Disabled"
    @onclick="HandleClick"
    @attributes="AdditionalAttributes">

    <!--Optional icon at the start-->  
    @if (!string.IsNullOrWhiteSpace(Icon) && VisualPlacement == Enums.VisualPlacement.Start && !IsLoading)
    {
        <Icon SvgIcon="@Icon" Size="@IconSize"/>
    }

    <!-- Main content or loading spinner-->
    @if (ChildContent is not null)
    {
        @if (IsLoading)
        {
            <Icon SvgIcon="@Icons.Icons.Filled.Spinner" 
                  Class="animate-spin me-3 inline text-inherit" 
                  Size="@IconSize" 
                  ViewBox="0 0 100 101"
                  fill="none"/>
            
            <span>@(string.IsNullOrWhiteSpace(LoadingText) ? "Loading..." : LoadingText)</span>
            
        }
        else
        {
            @ChildContent
        }
    }
    <!-- Optional icon at the end -->
    @if (!string.IsNullOrWhiteSpace(Icon) && VisualPlacement == Enums.VisualPlacement.End && !IsLoading)
    {
        <Icon SvgIcon="@Icon" Size="@IconSize"/>
    }
</button>
