<div class="relative w-64">
    <InputField T="string" Id="@TriggerId" Value="@DisplayRange"
                ReadOnly="true"
                Icon="@Icons.Icons.Outlined.Calendar"
                IconClass="!text-gray-700"
                VisualPlacement="VisualPlacement.End"
                @onclick="ToggleCalendar" />


    @if (ShowCalendar)
    {
        <div id="@PopoverId" class="@CalendarPositionClass">
            <div class="flex space-x-4">
                <!-- Left Month -->
                <div>
                    <div class="flex justify-between items-center mb-2">
                        <IconButton Variant="Variant.Text" Icon="@Icons.Icons.Outlined.ChevronLeft" Size="ButtonSize.Small" @onclick="PreviousMonth"/>
                        <Button Variant="Variant.Text" class="flex-1">@LeftMonth.ToString("MMMM yyyy")</Button>
                        <IconButton Variant="Variant.Text" Icon="@Icons.Icons.Outlined.ChevronRight" Size="ButtonSize.Small" @onclick="NextMonth"/>
                    </div>
                    <table class="text-center">
                        <thead>
                            <tr>
                                @foreach (var day in DaysOfWeek)
                                {
                                    <th class="text-xs font-normal">@day</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var week in GetWeeks(LeftMonth))
                            {
                                <tr>
                                    @foreach (var day in week)
                                    {
                                        <td class="@GetDayClasses(day)" @onclick="() => SelectDate(day)">
                                            @if (day.HasValue)
                                            {
                                                @day.Value.Day
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <!-- Right Month -->
                <div>
                    <div class="flex justify-between items-center mb-2">
                        <IconButton Variant="Variant.Text" Icon="@Icons.Icons.Outlined.ChevronLeft" Size="ButtonSize.Small" @onclick="PreviousMonth"/>
                        <Button Variant="Variant.Text" class="flex-1">@RightMonth.ToString("MMMM yyyy")</Button>
                        <IconButton Variant="Variant.Text" Icon="@Icons.Icons.Outlined.ChevronRight" Size="ButtonSize.Small" @onclick="NextMonth"/>
                    </div>
                    <table class="text-center">
                        <thead>
                        <tr>
                            @foreach (var day in DaysOfWeek)
                            {
                                <th class="text-xs font-normal">@day</th>
                            }
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var week in GetWeeks(RightMonth))
                        {
                            <tr>
                                @foreach (var day in week)
                                {
                                    <td class="@GetDayClasses(day)" @onclick="() => SelectDate(day)">
                                        @if (day.HasValue)
                                        {
                                            @day.Value.Day
                                        }
                                    </td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>

