@using BlazorFlow.Icons
@using Microsoft.AspNetCore.Components.Routing

<li class="mb-1">
    @if (HasChildContent())
    {
        <div 
            role="button" 
            aria-expanded="@IsExpanded.ToString().ToLower()"
            aria-label="@Label"
            tabindex="0"
            @onclick="ToggleExpand"
            @onkeydown="HandleKeyDown"
            class="@NavItemClass">
            <div class="@NavItemContentClass">
                @if (!string.IsNullOrWhiteSpace(Icon))
                {
                    <Icon 
                        SvgIcon="@Icon" 
                        Size="Size.Large" 
                        fill="none"/>
                }
                <span class="@NavItemVisibilityClass">@Label</span>
            </div>
            
            <div class="flex items-center gap-1 @NavItemVisibilityClass ">
                @Indicator
                <div class="text-gray-600 transition-transform duration-200 @ArrowRotation">
                    <Icon
                        SvgIcon="@Icons.Outlined.ChevronRight"
                        Size="Size.Large"
                        fill="none"/>
                </div>
            </div>
        </div>
        
        
        
        @if (IsExpanded && !IsCollapsed)
        {
            <ul class="ml-6 mt-1 space-y-1 transition-all duration-300" role="group">
                @ChildContent
            </ul>
        }
    }
    else
    {
        <NavLink
            class="@NavItemClass"
            href="@ResolvedHref"
            @onclick="@HandleClick"
            Match="@ResolvedMatch"
            ActiveClass="@ActiveClass"
            aria-label="@Label"
            role="link">
            <div class="@NavItemContentClass">
                @if (!string.IsNullOrWhiteSpace(Icon))
                {
                    <Icon
                        SvgIcon="@Icon"
                        Size="Size.Large"
                        fill="none"/>
                }
                <span class="@NavItemVisibilityClass">@Label</span>
            </div>
            
            @Indicator
            
        </NavLink>
    }
</li>

